    <div class="p-4">
      <form #form="rxapForm" rxapForm><rxap-data-grid [dataSource]="dataGridDataSource" mode="form">
          <ng-container rxapDataGridRowDef="name">
            <ng-template rxapDataGridEditCellDef>
              
              <mat-form-field>
                <button tabindex="-1" type="button" matPrefix mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  />
              </mat-form-field>
              
            </ng-template>
          </ng-container>
          <ng-container rxapDataGridRowDef="location">
            <ng-template rxapDataGridEditCellDef>
              
              <mat-form-field>
                <button tabindex="-1" type="button" matPrefix mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
                <eurogard-table-select-input
                  eurogardOpenTableSelectWindow
                  formControlName="location"
                  >
                </eurogard-table-select-input>
                <button
                  eurogardOpenTableSelectWindow
                  mat-icon-button
                  matPrefix
                  tabindex="-1"
                  >
                  <mat-icon svgIcon="table-eye"></mat-icon>
                </button>
              </mat-form-field>
              
            </ng-template>
          </ng-container>
          <ng-container rxapDataGridRowDef="link">
            <ng-template rxapDataGridEditCellDef>
              
              <mat-form-field>
                <button tabindex="-1" type="button" matPrefix mat-icon-button>
                  <mat-icon>clear</mat-icon>
                </button>
                <input
                  matInput
                  formControlName="link"
                  type="url"
                  />
              </mat-form-field>
              
            </ng-template>
          </ng-container>
          <ng-container rxapDataGridRowDef="company">
          </ng-container>
          <ng-container rxapDataGridRowDef="dashboardType">
            <th *rxapDataGridHeaderCellDef class="whitespace-nowrap" i18n>Typ</th>
          </ng-container>
        </rxap-data-grid>
      </form>
    </div>
