<ng-template #errorTemplate let-error let-refresh="refresh">
  <rxap-data-source-error [error]="error" [refresh]="refresh"></rxap-data-source-error>
</ng-template>
<div *rxapDataSource="let data from accordionDataSource; errorTemplate: errorTemplate" class="flex flex-col gap-y-6">
  <rxap-navigate-back-button>
    <ng-container>
    <h1>{{ data.name }}</h1></ng-container>
  </rxap-navigate-back-button>
  
  <ng-template #divider>
    <mat-divider></mat-divider>
  </ng-template>
  <mat-progress-bar *ngIf="accordionDataSource.loading$ | async; else divider" mode="indeterminate"></mat-progress-bar>
  <mat-accordion multi [rxapPersistentAccordion]="data.uuid">
    
    <ng-container [ngSwitch]="data.dashboardType">
      <ng-template ngSwitchDefault>
      
      <mat-expansion-panel>
      
        <mat-expansion-panel-header>
          <mat-panel-title i18n>Allgemeine Informationen</mat-panel-title>
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          <rxap-general-information-dashboard-panel></rxap-general-information-dashboard-panel>
        </ng-template>
      
      </mat-expansion-panel>
      
        </ng-template>
    </ng-container>
    
      </mat-accordion>
</div>
