<ng-template #errorTemplate let-error let-refresh="refresh">
  <rxap-data-source-error [error]="error" [refresh]="refresh"></rxap-data-source-error>
</ng-template>
<div *rxapDataSource="let accordion from accordionDataSource; errorTemplate: errorTemplate" class="flex flex-col gap-y-6">
  <rxap-accordion-header [data]="accordion"></rxap-accordion-header>
  <ng-template #divider>
    <mat-divider></mat-divider>
  </ng-template>
  <mat-progress-bar *ngIf="accordionDataSource.loading$ | async; else divider" mode="indeterminate"></mat-progress-bar>
  <mat-accordion [rxapPersistentAccordion]="accordionDataSource.lastUuid" multi>
    
    
    
    <ng-container [ngSwitch]="accordion.dashboardType">
      
      
      <ng-template [ngSwitchCase]="1">
      
        
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title i18n>GeneralInformation Special</mat-panel-title>
              
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <rxap-general-information-special-panel></rxap-general-information-special-panel>
            </ng-template>

          </mat-expansion-panel>
        
      </ng-template>
      
      
      
       <ng-template ngSwitchDefault>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title i18n>GeneralInformation Normal</mat-panel-title>
            
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <rxap-general-information-normal-panel></rxap-general-information-normal-panel>
          </ng-template>

        </mat-expansion-panel>
      </ng-template>
      
      
    </ng-container>
    
    
    
    
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title i18n>Layout</mat-panel-title>
        
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <rxap-layout-panel></rxap-layout-panel>
      </ng-template>

    </mat-expansion-panel>
    
    
    
    
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title i18n>Reference</mat-panel-title>
        
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <rxap-reference-panel></rxap-reference-panel>
      </ng-template>

    </mat-expansion-panel>
    
    
    <!-- NEXT_INDEX[3] -->
  </mat-accordion>
</div>
