<div class="flex flex-row justify-center w-full">

  <div class="flex flex-col gap-2">
    <ul>
      <li>opened: {{ layout.opened() }}</li>
      <li>mode: {{ layout.mode() }}</li>
      <li>pinned: {{ layout.pinned() }}</li>
      <li>collapsable: {{ layout.collapsable() }}</li>
      <li>fixedBottomGap: {{ layout.fixedBottomGap() }}</li>
      <li>fixedTopGap: {{ layout.fixedTopGap() }}</li>
      <li>currentThemeDensity: {{ layout.currentThemeDensity() }}</li>
      <li>isMobile: {{ layout.isMobile() }}</li>
      <li>fixedInViewport: {{ layout.fixedInViewport() }}</li>
      <li>collapsed: {{ layout.collapsed() }}</li>
    </ul>
  </div>

</div>
