<div class="flex flex-col gap-y-4 m-4">

  <div class="table-card-container flex flex-col">
    <mat-card>
      <mat-progress-bar
        rxapCardProgressBar
        [loading$]="tableDataSourceDirective.loading$"
      ></mat-progress-bar>
      <mat-card-header class="min-h-full h-12 justify-end ">
      <rxap-table-column-menu
        matCard
        #rxapTableColumns="rxapTableColumns"
        inline>
        <rxap-table-column-option name="tree" hidden>
          <ng-container i18n>Tree</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="isReferenced">
          <ng-container i18n>Is Referenced</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="name">
          <ng-container i18n>Name</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="scopeType">
          <ng-container i18n>Scope Type</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="spinner" hidden>
          <ng-container i18n>Spinner</ng-container>
        </rxap-table-column-option>
      </rxap-table-column-menu>
       </mat-card-header>

      <mat-card-content>
        <rxap-data-source-error
          [loading]="tableDataSourceDirective.loading$"
          [error]="tableDataSourceDirective.dataSource?.error$"
          *ngIf="tableDataSourceDirective.hasError$ | async"
          [refresh]="tableDataSourceDirective.retry">
        </rxap-data-source-error>
        <div class="table-scroll-container mt-4 overflow-x-auto overscroll-auto">
        <table
          [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
          matSort
          mat-table
          #tableDataSourceDirective="rxapTableDataSource"
          rxapTableDataSource
          [parameters]="parameters"
          id="reference"
          rxap-filter-header-row>
          <!-- region columns -->
          <ng-container matColumnDef="tree" [sticky]="true">
              <th *matHeaderCellDef mat-header-cell></th>
              <td
                *matCellDef="let element"
                [rxap-tree-control-cell]="element"
                mat-cell
                class="w-[100px]"
            ></td>
          </ng-container>
          
          <ng-container matColumnDef="isReferenced">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Is Referenced</ng-container>
            </th>
            <td *matCellDef="let element"
              mat-cell
              rxap-is-referenced-cell
              [element]="element"
              [value]="element?.isReferenced"
              class="w-[180px]"
          >
            </td>
          </ng-container>
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Name</ng-container>
            </th>
            <td *matCellDef="let element"
                mat-cell
                >
            {{ element?.name }}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="scopeType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Scope Type</ng-container>
            </th>
            <td *matCellDef="let element"
              mat-cell
              rxap-scope-type-cell
              [element]="element"
              [value]="element?.scopeType"
              class="w-[280px]"
          >
            </td>
          </ng-container>
          
          <ng-container matColumnDef="spinner" [stickyEnd]="true">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let element"
                mat-cell
                >
                <mat-spinner
                  *ngIf="element.__metadata__?.loading$ | async"
                  diameter="15"
                ></mat-spinner>
              </td>
          </ng-container>
          

          <!-- endregion -->
          <!-- region filter columns -->
<ng-container matColumnDef="filter_tree" [sticky]="true">
              <th mat-header-cell *matHeaderCellDef>
              </th>
</ng-container>
<ng-container matColumnDef="filter_isReferenced">
              <th mat-header-cell *matHeaderCellDef>
                
                <mat-checkbox
                  [indeterminate]="true"
                  formControlName="isReferenced"
                  labelPosition="after"
                  parentControlContainer>
                  <ng-container i18n>Is Referenced</ng-container>
                </mat-checkbox>
                
              </th>
</ng-container>
<ng-container matColumnDef="filter_name">
              <th mat-header-cell *matHeaderCellDef>
                
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <button tabindex="-1" type="button" matSuffix mat-icon-button rxapInputClearButton>
                    <mat-icon>clear</mat-icon>
                  </button>
                    <input
                      matInput
                      formControlName="name"
                      type="text"
                      parentControlContainer/>
                </mat-form-field>
                
              </th>
</ng-container>
<ng-container matColumnDef="filter_scopeType">
              <th mat-header-cell *matHeaderCellDef>
                
                <mat-form-field>
                  <mat-label>Scope Type</mat-label>
                  <button tabindex="-1" type="button" matSuffix mat-icon-button rxapInputClearButton>
                    <mat-icon>clear</mat-icon>
                  </button>
                    <mat-select formControlName="scopeType" parentControlContainer>
                      <mat-option *rxapOptionsFromMethod="let option" [value]="option.value">{{option.display}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
              </th>
</ng-container>
<ng-container matColumnDef="filter_spinner" [stickyEnd]="true">
              <th mat-header-cell *matHeaderCellDef>
              </th>
</ng-container>

          <!-- endregion -->
          <tr
            class="rxap-filter-header"
            mat-header-row
            *matHeaderRowDef="rxapTableColumns.displayColumns | toFilterColumnNames"
          ></tr>

          <tr
            mat-header-row
            *matHeaderRowDef="rxapTableColumns.displayColumns"
          ></tr>

          <tr
            [@rowsAnimation]=""
            mat-row
            [ngClass]="{ 'rxap-row-odd !bg-neutral-200 dark:!bg-neutral-600': odd, 'rxap-row-even': even }"
            class="hover:!bg-neutral-400 dark:hover:!bg-neutral-800"
            *matRowDef="
              let element;
              columns: rxapTableColumns.displayColumns;
              let odd = odd;
              let even = even
            "
          ></tr>
        </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
