<div class="flex flex-col gap-y-4 m-4">

  <div class="table-card-container flex flex-col">
    <mat-card>
      <mat-progress-bar
        rxapCardProgressBar
        [loading$]="tableDataSourceDirective.loading$"
      ></mat-progress-bar>
      <mat-card-header class="min-h-full h-12 justify-end ">
      <rxap-table-column-menu
        matCard
        #rxapTableColumns="rxapTableColumns"
        inline>
        <rxap-table-column-option name="tree" hidden></rxap-table-column-option>
        <rxap-table-column-option name="__spinner__" hidden></rxap-table-column-option>
        <rxap-table-column-option name="referenced">
          <ng-container i18n>Referenced</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="name">
          <ng-container i18n>Name</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="type">
          <ng-container i18n>Type</ng-container>
        </rxap-table-column-option>
      </rxap-table-column-menu>
       </mat-card-header>

      <mat-card-content>
        <rxap-data-source-error
          [loading]="tableDataSourceDirective.loading$"
          [error]="tableDataSourceDirective.dataSource?.error$"
          *ngIf="tableDataSourceDirective.hasError$ | async"
          [refresh]="tableDataSourceDirective.retry">
        </rxap-data-source-error>
        <div class="table-scroll-container mt-4 overflow-x-auto overscroll-auto">
        <table
          [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
          matSort
          mat-table
          #tableDataSourceDirective="rxapTableDataSource"
          rxapTableDataSource
          [parameters]="parameters"
          id="reference"
          rxap-filter-header-row>
          <!-- region columns -->
          <ng-container matColumnDef="tree" sticky>
            <th *matHeaderCellDef mat-header-cell></th>
            <td
              *matCellDef="let element"
              [rxap-tree-control-cell]="element"
              mat-cell
            ></td>
          </ng-container>
          <ng-container matColumnDef="__spinner__">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
              <mat-spinner
                *ngIf="element.__metadata__?.loading$ | async"
                diameter="15"
              ></mat-spinner>
            </td>
          </ng-container>
          <ng-container matColumnDef="referenced">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Referenced</ng-container>
            </th>
            <td *matCellDef="let element" mat-cell>
            {{ element?.referenced }}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Name</ng-container>
            </th>
            <td *matCellDef="let element" mat-cell>
            {{ element?.name }}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <ng-container i18n>Type</ng-container>
            </th>
            <td *matCellDef="let element" mat-cell>
            {{ element?.type }}
            </td>
          </ng-container>
          

          <!-- endregion -->
          <!-- region filter columns -->
          <ng-container matColumnDef="filter_tree" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>
          <ng-container matColumnDef="filter___spinner__" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>
          <ng-container matColumnDef="filter_referenced">
            <th mat-header-cell *matHeaderCellDef>
              
              <mat-checkbox
                indeterminate
                formControlName="referenced"
                labelPosition="after"
                parentControlContainer>
                <ng-container i18n></ng-container>
              </mat-checkbox>
              
            </th>
          </ng-container>
          <ng-container matColumnDef="filter_name">
            <th mat-header-cell *matHeaderCellDef>
              
              <mat-form-field>
                <button tabindex="-1" type="button" matSuffix mat-icon-button rxapInputClearButton>
                  <mat-icon>clear</mat-icon>
                </button>
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  parentControlContainer/>
              </mat-form-field>
              
            </th>
          </ng-container>
          <ng-container matColumnDef="filter_type">
            <th mat-header-cell *matHeaderCellDef>
            </th>
          </ng-container>

          <!-- endregion -->
          <tr
            class="rxap-filter-header"
            mat-header-row
            *matHeaderRowDef="rxapTableColumns.displayColumns | toFilterColumnNames"
          ></tr>

          <tr
            mat-header-row
            *matHeaderRowDef="rxapTableColumns.displayColumns"
          ></tr>

          <tr
            [@rowsAnimation]=""
            mat-row
            [ngClass]="{ 'rxap-row-odd !bg-neutral-200 dark:!bg-neutral-600': odd, 'rxap-row-even': even }"
            class="hover:!bg-neutral-400 dark:hover:!bg-neutral-800"
            *matRowDef="
              let element;
              columns: rxapTableColumns.displayColumns;
              let odd = odd;
              let even = even
            "
          ></tr>
        </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
