@forward 'fonts';

@use '@angular/material' as mat;
@use 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
