<div fxLayout="column" fxLayoutGap="32px" style="margin: 16px">
  <button (click)="formDetails.loadInstanceIds()" fxFlex="nogrow" mat-stroked-button>Refresh instances</button>
  <mat-accordion fxFlex="nogrow">
    <mat-expansion-panel *ngFor="let instanceId of formDetails.formInstanceIds">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{instanceId}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <rxap-form-instance [instanceId]="instanceId"></rxap-form-instance>
      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>
</div>
<ng-template [ngIf]="!formDetails.formInstanceIds.length">
  <h3>No active form instances</h3>
</ng-template>
