<div class="flex flex-col gap-y-4 m-4">

  <div class="table-card-container flex flex-col">
    <mat-card>
      <mat-progress-bar
        rxapCardProgressBar
        [loading$]="tableDataSourceDirective.loading$"
      ></mat-progress-bar>
      <mat-card-header class="min-h-full h-12">
      <mat-card-title i18n>Test</mat-card-title>
      <rxap-table-column-menu
        matCard
        #rxapTableColumns="rxapTableColumns"
        >
        <rxap-table-column-option name="name"
          >
          <ng-container i18n>Name</ng-container>
        </rxap-table-column-option>
        <rxap-table-column-option name="description"
          >
          <ng-container i18n>Description</ng-container>
        </rxap-table-column-option>
      </rxap-table-column-menu>
       </mat-card-header>

      <mat-card-content>
        <rxap-data-source-error
          *ngIf="tableDataSourceDirective.hasError$ | async"
          [dataSourceLike]="tableDataSourceDirective">
        </rxap-data-source-error>
        <div class="table-scroll-container mt-4 overflow-x-auto overscroll-auto">
        <table
          [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
          mat-table
          #tableDataSourceDirective="rxapTableDataSource"
          rxapTableDataSource
          [parameters]="parameters"
          id="test"
          [paginator]="paginator"
        >
          <!-- region columns -->
          <ng-container matColumnDef="name">
              <th mat-header-cell
                *matHeaderCellDef
              >
                <ng-container i18n>Name</ng-container>
              </th>
              <td *matCellDef="let element"
                  mat-cell
              >
              {{ element?.name }}
              </td>
          </ng-container>
          
          <ng-container matColumnDef="description">
              <th mat-header-cell
                *matHeaderCellDef
              >
                <ng-container i18n>Description</ng-container>
              </th>
              <td *matCellDef="let element"
                  mat-cell
              >
              {{ element?.description }}
              </td>
          </ng-container>
          

          <!-- endregion -->



          <tr
            mat-header-row
            *matHeaderRowDef="rxapTableColumns.displayColumns"
          ></tr>

          <tr
            [@rowsAnimation]=""
            mat-row
            [ngClass]="{ 'rxap-row-odd !bg-neutral-200 dark:!bg-neutral-600': odd, 'rxap-row-even': even }"
            class="hover:!bg-neutral-400 dark:hover:!bg-neutral-800"
            *matRowDef="
              let element;
              columns: rxapTableColumns.displayColumns;
              let odd = odd;
              let even = even
            "
          ></tr>
        </table>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator
          [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
          class="m-4"
          rxapPersistent
          [pageSizeOptions]="[5,10,25,50,100]"
          [pageSize]="10"
          #paginator="matPaginator"
        ></mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
