<div class="flex flex-col gap-y-4 m-4">


  <div class="table-card-container flex flex-col">
    <mat-card>
      <mat-progress-bar
        rxapCardProgressBar
        [loading$]="tableDataSourceDirective.loading$"
      ></mat-progress-bar>
      <mat-card-header class="min-h-full h-12">

        <mat-card-title i18n>maximum-tree</mat-card-title>


        <button
          mat-card-avatar
          mat-mini-fab
          color="primary"
          i18n-matTooltip
          matTooltip="Create Maximum-tree"
          [disabled]="tableDataSourceDirective.hasError$ | async"
          [rxapTableCreate]="tableDataSourceDirective"

        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-card-subtitle i18n>Create Maximum-tree</mat-card-subtitle>

        <rxap-table-column-menu #rxapTableColumns="rxapTableColumns" [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
                                matCard>
          <rxap-table-column-option hidden name="tree"></rxap-table-column-option>

          <rxap-table-column-option name="name">
            <ng-container i18n>Name</ng-container>
          </rxap-table-column-option>

          <rxap-table-column-option name="age">
            <ng-container i18n>Age</ng-container>
          </rxap-table-column-option>

          <rxap-table-column-option name="isActive">
            <ng-container i18n>Is Active</ng-container>
          </rxap-table-column-option>

          <rxap-table-column-option name="email">
            <ng-container i18n>Email</ng-container>
          </rxap-table-column-option>

          <rxap-table-column-option name="rating">
            <ng-container i18n>Rating</ng-container>
          </rxap-table-column-option>

          <rxap-table-column-option name="accountStatus">
            <ng-container i18n>Account Status</ng-container>
          </rxap-table-column-option>


          <rxap-table-column-option hidden name="actions">
            <ng-container i18n>Actions</ng-container>
          </rxap-table-column-option>

          <mat-divider></mat-divider>
          <span mat-menu-item>
          <rxap-table-show-archived-slide></rxap-table-show-archived-slide>
        </span>
        </rxap-table-column-menu>
      </mat-card-header>

      <mat-card-content>
        <rxap-data-source-error
          *ngIf="tableDataSourceDirective.hasError$ | async"
          [refresh]="tableDataSourceDirective.retry">
        </rxap-data-source-error>
        <div class="table-scroll-container mt-4 overflow-x-auto overscroll-contain">
          <table
            [ngClass]="{ 'hidden': tableDataSourceDirective.hasError$ | async }"
            matSort
            #tableDataSourceDirective="rxapTableDataSource"
            [parameters]="parameters"
            rxapTableDataSource
            id="maximum-tree"
            mat-table
          >
            <!-- region columns -->

            <ng-container matColumnDef="uuid">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>UUID</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.uuid }}</td>
            </ng-container>

            <ng-container matColumnDef="tree" sticky>
              <th *matHeaderCellDef mat-header-cell></th>
              <td
                *matCellDef="let element"
                [rxap-tree-control-cell]="element"
                mat-cell
              ></td>
            </ng-container>


            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Name</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.name }}</td>
            </ng-container>


            <ng-container matColumnDef="age">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Age</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.age }}</td>
            </ng-container>


            <ng-container matColumnDef="isActive">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Is Active</ng-container>
              </th>

              <td *matCellDef="let element" [rxap-boolean-cell]="element?.isActive"></td>
            </ng-container>


            <ng-container matColumnDef="email">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Email</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.email }}</td>
            </ng-container>


            <ng-container matColumnDef="rating">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Rating</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.rating }}</td>
            </ng-container>


            <ng-container matColumnDef="accountStatus">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>
                <ng-container i18n>Account Status</ng-container>
              </th>

              <td *matCellDef="let element" mat-cell>{{ element?.accountStatus }}</td>
            </ng-container>


            <ng-container matColumnDef="actions" stickyEnd>
              <th *matHeaderCellDef mat-header-cell></th>

              <td *matCellDef="let element" mat-cell>
                <div class="flex flex-row">

                  <button
                    *ngIf="element | rxapRowActionCheck:'callout'"
                    [element]="element"
                    mat-icon-button
                    i18n-matTooltip

                    matTooltip="callout"
                    rxapTableRowAction="callout"
                  >
                    <mat-icon>waving_hand</mat-icon>
                    <mat-progress-bar
                      *rxapTableRowActionExecuting
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </button>

                  <button
                    *ngIf="element | rxapRowActionCheck:'refresh'"
                    [element]="element"
                    mat-icon-button
                    i18n-matTooltip

                    matTooltip="refresh"
                    rxapTableRowAction="refresh"
                  >
                    <mat-icon>loop</mat-icon>
                    <mat-progress-bar
                      *rxapTableRowActionExecuting
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </button>

                  <button
                    *ngIf="element | rxapRowActionCheck:'confirm'"
                    [element]="element"
                    mat-icon-button
                    i18n-matTooltip

                    matTooltip="confirm"
                    rxapTableRowAction="confirm"
                  >
                    <mat-icon>confirmation_number</mat-icon>
                    <mat-progress-bar
                      *rxapTableRowActionExecuting
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </button>

                  <button
                    *ngIf="element | rxapRowActionCheck:'fail'"
                    [element]="element"
                    mat-icon-button
                    i18n-matTooltip

                    matTooltip="fail"
                    rxapTableRowAction="fail"
                  >
                    <mat-icon>bug_report</mat-icon>
                    <mat-progress-bar
                      *rxapTableRowActionExecuting
                      mode="indeterminate"
                    ></mat-progress-bar>
                  </button>

                </div>
              </td>
            </ng-container>


            <!-- endregion -->

            <tr
              mat-header-row
              *matHeaderRowDef="rxapTableColumns.displayColumns"
            ></tr>

            <tr
              [@rowsAnimation]
              [ngClass]="{ 'rxap-row-odd !bg-neutral-200 dark:!bg-neutral-600': odd, 'rxap-row-even': even }"
              class="hover:!bg-neutral-400 dark:hover:!bg-neutral-800"
              mat-row
              *matRowDef="
              let element;
              columns: rxapTableColumns.displayColumns;
              let odd = odd;
              let even = even
            "
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
