<div fxLayout="column" fxLayoutGap="32px">

  <div fxFlex="nogrow" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start start">

    <h1 fxFlex="nogrow">Authorization Config</h1>

    <rxap-json-viewer fxFlex="nogrow" [json]="authorizationMap"></rxap-json-viewer>

    <div fxFlex="nogrow">
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>Authorization config as json string</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <rxap-copy-to-clipboard [value]="authorizationMap | json">Copy</rxap-copy-to-clipboard>

        <pre>{{ authorizationMap | json }}</pre>

      </mat-expansion-panel>
    </div>

  </div>

  <mat-divider fxFlex="nogrow"></mat-divider>

  <div fxFlex="nogrow">

    <table>

      <thead>
      <tr>
        <th>Element</th>
        <th>Identifier</th>
        <th>Disabled</th>
        <th>Preview</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th>Button</th>
        <td>home.card.product.create</td>
        <td>
          <mat-slide-toggle (change)="update('home.card.product.create', $event)"></mat-slide-toggle>
        </td>
        <td>
          <button mat-raised-button color="primary" rxapHasAuthorization="home.card.product.create">Create</button>
        </td>
      </tr>
      <tr>
        <th>Input</th>
        <td>home.card.product.name</td>
        <td>
          <mat-slide-toggle (change)="update('home.card.product.name', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Product name</mat-label>
            <input matInput rxapHasAuthorization="home.card.product.name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Select</th>
        <td>user.form.create.gender</td>
        <td>
          <mat-slide-toggle (change)="update('user.form.create.gender', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select rxapHasAuthorization="user.form.create.gender">
              <mat-option>Male</mat-option>
              <mat-option>Female</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Checkbox</th>
        <td>user.form.edit.isAdmin</td>
        <td>
          <mat-slide-toggle (change)="update('user.form.edit.isAdmin', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-checkbox rxapHasAuthorization="user.form.edit.isAdmin">Admin</mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Slide Toggle</th>
        <td>product.form.edit.active</td>
        <td>
          <mat-slide-toggle (change)="update('product.form.edit.active', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-slide-toggle rxapHasAuthorization="product.form.edit.active">Active</mat-slide-toggle>
        </td>
      </tr>
      </tbody>

    </table>

  </div>

  <h3 fxFlex="nogrow">Form</h3>

  <form #form="rxapForm" rxapForm fxFlex="nogrow">

    <table>

      <thead>
      <tr>
        <th>Element</th>
        <th>Identifier</th>
        <th>Disabled</th>
        <th>Preview</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th>Input</th>
        <td>home.card.product.name</td>
        <td>
          <mat-slide-toggle (change)="update('home.card.product.name', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Product name</mat-label>
            <input formControlName="input" matInput rxapHasAuthorization="home.card.product.name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Select</th>
        <td>user.form.create.gender</td>
        <td>
          <mat-slide-toggle (change)="update('user.form.create.gender', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="select" rxapHasAuthorization="user.form.create.gender">
              <mat-option>Male</mat-option>
              <mat-option>Female</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Checkbox</th>
        <td>user.form.edit.isAdmin</td>
        <td>
          <mat-slide-toggle (change)="update('user.form.edit.isAdmin', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-checkbox formControlName="checkbox" rxapHasAuthorization="user.form.edit.isAdmin">Admin</mat-checkbox>
        </td>
      </tr>
      <tr>
        <th>Slide Toggle</th>
        <td>product.form.edit.active</td>
        <td>
          <mat-slide-toggle (change)="update('product.form.edit.active', $event)"></mat-slide-toggle>
        </td>
        <td>
          <mat-slide-toggle formControlName="slideToggle" rxapHasAuthorization="product.form.edit.active">Active</mat-slide-toggle>
        </td>
      </tr>
      <tr>
        <th colspan="4">
          <hr>
        </th>
      </tr>
      </tbody>

    </table>

    <rxap-json-viewer [json]="getStates$(form) | async"></rxap-json-viewer>

  </form>

</div>
