<div fxLayout="column" fxLayoutGap="32px">

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutGap="32px"  fxLayoutAlign="start center">

      <div fxFlex="nogrow"><button mat-stroked-button color="primary" (click)="formTemplates.saveAll()">Save all templates</button></div>

      <mat-form-field fxFlex="nogrow" class="form-id-selector">
        <mat-label>Form Template</mat-label>
        <mat-select (selectionChange)="formDetails.setFormId($event.value)">
          <mat-option [value]="null">---</mat-option>
          <mat-option *ngFor="let formId of forms.formIds" [value]="formId">
            {{formId}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>



    <button (click)="load()" color="primary" fxFlex="40px" mat-icon-button>
      <mat-icon>autorenew</mat-icon>
    </button>

  </mat-toolbar>

  <rxap-form-details *ngIf="formDetails.formId; else empty" fxFlex="nogrow"></rxap-form-details>

</div>

<ng-template #empty><h3 class="info">Select a form id</h3></ng-template>
