    <div class="p-4">
      <form #form="rxapForm" rxapForm><rxap-data-grid [dataSource]="dataGridDataSource" mode="form">
          <ng-container rxapDataGridRowDef="name">
            <ng-template rxapDataGridEditCellDef>

              <mat-form-field>
                <button tabindex="-1" type="button" matSuffix mat-icon-button rxapInputClearButton>
                  <mat-icon>clear</mat-icon>
                </button>
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  />
              </mat-form-field>

            </ng-template>
            <ng-template let-value rxapDataGridCellDef>
              {{ value }}
            </ng-template>

          </ng-container>
          <ng-container rxapDataGridRowDef="company">
            <ng-template let-value rxapDataGridCellDef>
              {{ value | async | getFromObject:'name' }}
            </ng-template>

          </ng-container>
          <ng-container rxapDataGridRowDef="dashboardType">
            <th *rxapDataGridHeaderCellDef class="whitespace-nowrap" i18n>Typ</th>
            <ng-template let-value rxapDataGridCellDef>
              {{ value | async }}
            </ng-template>

          </ng-container>
        </rxap-data-grid>
      </form>
    </div>
