<mat-card>

  <mat-card-content>
    <div class="p-4">

      <rxap-data-grid [data]="data">


        <ng-container rxapDataGridRowDef="name">

        </ng-container>

        <ng-container rxapDataGridRowDef="age">

        </ng-container>

        <ng-container rxapDataGridRowDef="isActive">

        </ng-container>

        <ng-container rxapDataGridRowDef="email">

        </ng-container>

        <ng-container rxapDataGridRowDef="rating">

        </ng-container>

        <ng-container rxapDataGridRowDef="accountStatus">

        </ng-container>

      </rxap-data-grid>
    </div>
  </mat-card-content>
</mat-card>
