# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
nx-console.xml
jsLibraryMappings.xml
nx-angular-config.xml
nx-config.xml
/JetClient
cody_history.xml

/developer-tools.xml
